.logo{
	width: 50px;
  	height: 35px;
}

.bg{
	height: 100%;
	width: 100%
}

.arquivo {
	left:5px;
}
.jumbotron{
	margin-top: 10px;
	padding-top: 10px;
	top:10px;
}

button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}
.bw-upload {
    padding: 15px;
    border: 1px dashed #ddd;
    border-radius:4px;
    background:#fafafa;
    text-align:center;
}

.bw-upload-form-file {
    display:inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
}

.bw-upload-form-file>input[type=file]{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    widht:100%;
    opacity:0;
    cursor:pointer;
    font-size: 500px;
}